.container-contact{
    display: flex;
    background-color: #101010;
	overflow: hidden;
}

.canvas2 {
    background-color: #000;
    z-index: 0;
    width: 50%;
}
  
.col-contact{
    height: 100vh;
    width: 50%;
}
.title h1{
    color: #fff;
}
.contact{
	width: 60%;
	margin: 80px auto;
	padding: 100px 0;
	z-index: 99;
}
.contact-info{
	display: flex;
	justify-content: center;
	margin: 50px 0;
}
.contact-info .textField{
	width: 100%;
	height: 50px;
	border: 1px solid #fff;
	box-sizing: border-box;
	background-color: transparent;
	padding: 15px 15px;
	margin-bottom: 15px;
	font-family: sans-serif;
	color: #fff;
	font-size: 16px;
}
.contact-info .messageField{
	height: 200px;
}
.contact-info .submitButton{
	background-color: #fff;
	color: #000;
	height: 50px;
	font-weight: 600;
	font-size: 16px;
	cursor: pointer;
	text-transform: uppercase;
}
footer{
    padding: 10px;
    text-align: center;
    color: #fff;
	background-color: #000;
}
@media (max-width: 960px){
    .contact {
        margin: 0 auto;
    }
}